header.masthead{
    background: blueviolet;
}
.nav-item a.nav-link:hover{
    color:greenyellow !important;
    border-bottom:1px solid blueviolet;
}
.social-media-link{
    color:#fff;
    font-size:1.5em;
    padding:0.5em;
}